body {
  /* background-color: #c6dcce; */
  background: linear-gradient(#c6dcce, #768e6d);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgb(43, 55, 48);
  line-height: 1.5;
}

a {
  color: black;
  text-decoration: none;
}
.card-container,
.hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

h1 {
  text-transform: uppercase;
  width: 100%;
  font-size: 4rem;
}
h2 {
  width: 60%;
  font-size: 1.8rem;
}
.portrait {
  height: 250px;
  width: 250px;
  object-fit: cover;
  object-position: 90% 10%;
  border-radius: 50%;
  filter: grayscale(100%);
}
hr {
  margin: 100px 0px;
}
.card {
  height: 100%;
  width: 30%;
  padding-bottom: 20px;
  border-radius: 1rem;
  box-shadow: 1px 5px 5px rgb(66, 78, 68);
  background: linear-gradient(#fcfcfc, #e2ecde);
  text-align: center;
}
.card img {
  height: 80%;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}

.card:hover {
  box-shadow: 10px 15px 5px rgb(66, 78, 68);
  transition: 0.3s ease-in-out;
  transform: scale(1.05);
}
